# macOS
.DS_Store

# Python
__pycache__/
*.pyc

# Virtual environments
venv/
.env/

# VS Code
.vscode/

# JetBrains
.idea/

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# Build files
dist/
build/
